section.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: $white;
    padding: 20px;
    transition: all .25s ease-in-out;

    .arrow-down-container {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;

        .arrow-down {
            display: block;
            font-size: 16px;
            transition: all .25s ease-in-out;
            cursor: pointer;
            padding: 0 20px 45px;

            span {
                display: block;
                position: absolute;
                height: 2px;
                background: $black;
                animation-name: arrow-down-bounce;
                animation-duration: 2s;
                animation-iteration-count: infinite;
    
                &:nth-child(1) {
                    width: 30px;
                    margin-top: 44px;
                    margin-left: 28px;
                    transform: rotate(90deg);
                }
    
                &:nth-child(2) {
                    width: 20px;
                    margin-top: 51px;
                    margin-left: 26px;
                    transform: rotate(45deg);
                }
    
                &:nth-child(3) {
                    width: 20px;
                    margin-top: 51px;
                    margin-left: 40px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
  
    .quote {
        width: 100%;
        max-width: 700px;
    
        h1 {
            position: absolute;
            top: 48%;
            left: -10%;
            font-size: 38em;
            margin: 0;
            line-height: 0;
            color: $black50;

            &:nth-child(2) {
                opacity: 0;
            }
        }
    
        h3 {
            text-align: center;
            font-size: 3em;
            margin-bottom: 20px;
        }
    
        h5 {
            text-align: right;
            font-size: 2em;
        }
    }
}

  @media(min-width: 600px) {
      .quote-container {
        .quote {
            h1 {
                left: 21%;

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes arrow-down-bounce {
    0%   { top: 0 }
    25%  { top: 10px }
    50%  { top: 0 }
    75%  { top: 10px }
    100% { top: 0 }
}