div.awards-container {
    display: none;
}

@media(min-width: 768px) {
    div.awards-container {
        display: flex;
        position: absolute;
        width: 100%;
    
        ul {
            margin: 10px auto;
    
            li {
                display: inline-block;
    
                 img {
                    max-height: 100px;
                    margin: 0 20px;
                }
    
                &:nth-child(1) > img {
                    max-height: 115px;
                }
            }
        }
    }
}