// preloader
.preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $black;
  color: $white;
}

.logo-images-container {
  padding-bottom: 30px;

  .logo-seedandspark {
    width: 90px;
    margin-right: 120px;
    transform: scale(2);
  }

  .logo-vimeo {
    width: 62px;
    transform: scale(2);
  }
}

.main-cta-container {
  display: block;
  padding-top: 100px;
  opacity: 1;
  text-align: center;

  .main-btn {
    background: $white;
    color: $black;
    font-size: 3rem;
    padding: .5em 1.4em .6em;

  }
}

@media(min-width: 1080px) {
  .logo-images-container {
    padding-bottom: 40px;

    .logo-seedandspark {
      margin-right: 20px;
      transform: scale(1);
    }

    .logo-vimeo {
      transform: scale(1);
    }
  }

  .main-cta-container {
    display: none;
  }
}
