@import url('https://fonts.googleapis.com/css?family=Oswald:200');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// font
$font-display: 'Oswald', sans-serif;
$font-serif: 'Playfair Display', serif;
$font-sans: 'Open Sans Condensed', sans-serif;

// colors
$absBlack: #000000;
$black: #141414;
$white: #ffffff;
$gray: #ededee;

$play_btn_color: #00ffcc;
