* {
  box-sizing: border-box;
  margin: 0;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-serif;
  font-size: 62.5%;
  color: $black;
}

section {
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

a {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: $font-display;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
}
.subtitle {
  font-family: $font-display;
  font-weight: 100;
  line-height: 100%;
}

.strikeout {
  text-decoration: line-through;
}