// preloader
.preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $black;
  color: $white;
}

// main
main {
  background: url('../static/bg-main-1500.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

.main-container {
  position: absolute;
  top: 40%;

  .title-container {
    display: inline-flex;
    color: $white;
    z-index: 999;
    transform: scale(1);

    h1, span {
      display: inline-block;
      font-size: 3.5rem;
      font-weight: 200;
      line-height: 3.5rem;
      color: $white;
      @extend %text-shadow;
      opacity: 1;
    }
  }

  .subtitle-container {

    h1 {
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
      @extend %text-shadow;
    }
  }
}

section.quote {

  .quote-container {
    width: 90%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 40px;
  }
}

@media(min-width: 768px) {
  .main-container {
    position: inherit;
  }
}

@media(min-width: 1080px) {
  main {
    background-attachment: fixed;

    .main-container {

      .title-container {

        h1, span {
          font-size: 4.5rem;
          line-height: 4.5rem;
        }
      }
    }
  }
}