<div id="quoteContainer" class="quote-container">
    <div class="quote">
        <h1>
            &ldquo;
        </h1>

        <h1>
            &rdquo;
        </h1>
        
        <h3 id="quote">
            Take a tender journey inside the oasis of the mind, as B struggles with
            depression, heartache, and identity as a queer Asian woman.
        </h3>

        <h5 id="quotee">
            &mdash; Becca Park
        </h5>
    </div>
</div>