<div id="awardsContainer" class="awards-container">
    <ul id="awardsList" class="awards-list">
        <li><img alt="2019 Outfest" src="static/award_2019_Outfest_x2.png"></li>
        <li><img alt="2019 Best Shorts" src="static/award_2019_BestShorts_x2.png"></li>
        <li><img alt="2019 Disorient" src="static/award_2019_disorient_x2.png"></li>
        <li><img alt="2019 California International Shorts Festival" src="static/award_2019_BestExperimental-CISF_x2.png"></li>
    </ul>
</div>