<section id="contact" class="contact container">
  <div id="contactContainer" class="contact-container">
    <div class="email-container">
      <a target="_blank" href="mailto:speakeasyb.film@gmail.com">
        speakeasyb.film@gmail.com
      </a>
    </div>
  </div>

  <div class="logo-images-container">
    <a target="_blank" href="https://www.seedandspark.com/fund/speakeasyb">
      <img class="logo-seedandspark" src="../static/speak-easy-b-Seed-and-Spark.svg" alt="Seed and Spark">
    </a>
    <a target="_blank" href="https://vimeo.com/speakeasyb">
      <img class="logo-vimeo" src="../static/speak-easy-b-vimeo.svg" alt="Vimeo">
    </a>
  </div>

  <footer>
    <div class="copyright-container">
      <p class="copyright">
        Copyright &copy; 2019 Speak Easy B Film. All Rights Reserved.
      </p>
    </div>
  </footer>
</section>
