<div class="footer">
    <div class="copyright-container">
        <p id="copyright" class="copyright">
            Copyright © 2018-2019 Speak Easy B Film. All Rights Reserved.
        </p>
    </div>
</div>