<header>
  <div class="menu">
    <ul>
      <li>
        <a data-smoothie class="strikethrough" href="#videoSection">About</a>
      </li>
      <li>
        <a data-smoothie class="strikethrough" href="#ComingSoon">Film Stills</a>
      </li>
      <li>
        <a target="_blank" href="https://www.seedandspark.com/fund/speakeasyb">Seed&Spark</a>
      </li>
      <li>
        <a data-smoothie class="" href="#contact">Contact</a>
      </li>
      <li>
        <div class="watch-btn-container">
          <a data-smoothie id="watchBtn" class="watch-btn" href="#videoSection">Watch Trailer</a>
        </div>
      </li>
    </ul>
  </div>
</header>
