<main id="main" class="main">
  <section id="hero" class="container">
    <div id="mainContainer" class="main-container">
      <div id="subContainer" class="subtitle-container">
        <h1 id="subtitle">A film by Becca Park</h1>
      </div>

      <div id="titleContainer" class="title-container">
        <h1 id="titleSpeak">Speak&nbsp;</h1>
        <h1 id="titleEasy">Easy</h1><span id="titleComma">,&nbsp;</span>
        <h1 id="titleB">B</h1>
      </div>

      <div id="mainCtaContainer" class="main-cta-container">
        <a data-smoothie id="watchBtn" class="main-btn" href="#videoSection">Watch Trailer</a>
      </div>
    </div>
  </section>
</main>
