<div id="menuBtnContainer" class="menu-btn-container">
    <div id="menuBtn" class="menu-btn">
        menu
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="menuModal" class="modal menu">
    <div>
        <div id="menuTitle" class="menu-title-container">
            <div class="menu-title">
                <h1 class="subtitle">A film by Becca Park</h1>
                <h1 class="title">Speak Easy, B</h1>
            </div>

            <div class="logo-images-container">
                <a target="_blank" href="https://www.seedandspark.com/fund/speakeasyb">
                    <img class="logo-seedandspark" src="./static/speak-easy-b-Seed-and-Spark.svg" alt="Seed and Spark">
                </a>
                <a target="_blank" href="https://vimeo.com/speakeasyb">
                    <img class="logo-vimeo" src="./static/speak-easy-b-vimeo.svg" alt="Vimeo">
                </a>
            </div>

            <div class="contact-container">
                <h4>Contact:<br>
                <a href="mailto:speakeasyb.film@gmail.com">speakeasyb.film@gmail.com</a></h4>
            </div>
        </div>

        <div class="menu-nav">
            <nav>
                <ul id="menuList">
                    <li><a id="homeBtnMenu" href="/">Home</a></li>
                    <li><a id="aboutBtnMenu" href="/gallery">Gallery</a></li>
                    <li><a id="videoBtnMenu">Watch</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {{>../partials/footer}}
</div>