<aside id="modal" class="modal container">
  <div id="videoContainer" class="video-container">
    <iframe
      src="https://player.vimeo.com/video/267936491?title=0&byline=0&portrait=0"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen>
    </iframe>
  </div>

  <script src="https://player.vimeo.com/api/player.js"></script>
</aside>
