<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Speak Easy B | A film by Becca Park</title>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60185096-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-60185096-11');
    </script>
  </head>
  <body>
    {{>partials/preloader}}

    {{>partials/header}}

    {{>partials/main}}

    {{>partials/video}}

    {{>partials/contact}}
  </body>
</html>
